
html {
	margin: 0;
	padding: 0;
	width: 720px;
}

body {
	margin: 0;
	padding: 0;
	width: 720px;
	font-family: "Gill Sans MT", "Gill Sans", GillSans, "Bitstream Vera Sans", "Vera Sans", VeraSans, Arial, sans-serif ;
}


#wrapper {
	width: 500px;
	float:left;
	margin-right:-210px;
}

#mainContent {
	/* size and position */
	margin-right:210px;
	width: 500px;
	/* border-top: 1px solid white; */  /* to stop collapsing margins in Moz */
	
	/* contents */
	padding-bottom: 10px;
	text-align: right;
}

#subContent {
	/* size and position */
	float: right;
	min-width: 210px;
	
	/* contents */
	text-align: left;
	padding-left: 10px;
	padding-bottom: 10px;
}

.footer, .header {
	/* size and position */
	margin: 0;
	clear: both;
	height: 70px;
	width: 500px; /*ie requires this or height */
	
	/* contents */
	font-size: 24px;
	text-align: right;
	vertical-align: bottom;
	
	padding-top: 20px;
}

.separator {
	height: 30px;

}
a:link {  
	background: #ffffff;
	color: #00bfff;
}
a:visited {
	background: #ffffff;
	color: #0000ff;
}
a:active {
	background: #000000;
	color: #ff0000;
}
a:hover {
	background: #00bfff;
	color: #800000;
}
a:hover * {
	/* Work-around for Konqueror 3.1 */
	background: inherit
}


p.title{
	font-size: 24px;
}

p.larger{
	font-size: 18px;
}

p.large{
	font-size: 16px;
}

p{
	font-size: 13px;
}
